In [6]:
import pandas as pd
import numpy as np
data = pd.read_csv('netflix_data.csv')

In [12]:
data.head()

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,4,In a future where the elite inhabit an island ...,International TV
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,93,After a devastating earthquake hits Mexico Cit...,Dramas
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,78,"When an army recruit is found dead, his fellow...",Horror Movies
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,123,A brilliant group of students become card-coun...,Dramas

**adding num_of_cast column**

In [5]:
def set_noc(x):
  if pd.isnull(x):
    return 0
  else:
    return len(x.split(", "))

data["num_of_cast"] = data["cast"].apply(set_noc)
data.tail()

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre,num_of_cast
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...",Sweden,"October 19, 2020",2005,99,When Lebanon's Civil War deprives Zozo of his ...,Dramas,7
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,111,A scrappy but poor boy worms his way into a ty...,Dramas,8
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,44,"In this documentary, South African rapper Nast...",Documentaries,1
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,1,Dessert wizard Adriano Zumbo looks for the nex...,International TV,2
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,United Kingdom,"March 1, 2020",2019,90,This documentary delves into the mystique behi...,Documentaries,0

**number of tv-shows and movies of each genre**

In [13]:
data.groupby("type")["genre"].value_counts()

type     genre
Movie    Dramas                  1384
         Comedies                1074
         Documentaries            751
         Action                   721
         Children                 502
         Stand-Up                 321
         Horror Movies            244
         International Movies     114
         Classic Movies            77
         Uncategorized             56
         Thrillers                 49
         Independent Movies        20
         Anime Features            19
         Music                     17
         Cult Movies               12
         Sci-Fi                    11
         Romantic Movies            3
         LGBTQ Movies               1
         Sports Movies              1
TV Show  International TV         690
         Crime TV                 369
         Kids                     359
         British TV               232
         Docuseries               194
         Anime Series             148
         TV Comedies              110
         Reality TV               102
         TV Dramas                 62
         TV Action                 37
         Stand-Up                  33
         Romantic TV               28
         Classic                   21
         TV Shows                  12
         TV Horror                 10
         Spanish-Language           2
         TV Sci                     1
Name: genre, dtype: int64